body {
    padding: 10px;
}

h1 {
    font-family: system-ui;
}

form {
    font-size: 20px;
}

label {
    font-family: system-ui;
}

button {
    font-family: system-ui;
    width: 140px;
}

input {
    color: #222629;
    font-family: system-ui;
    width: 100px;
}